body{
    zoom: 150%;
    background-image: url(./images/pic1.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-color: rgba(0, 0, 0, 0.7);
     background-blend-mode: darken; 
    /* background-blend-mode: color-burn; */
}
span{
    color:white;
    text-decoration: underline;
}

span:hover
{
    text-decoration: underline;
    color:#e1b12c;
}
.hero-content h1 {
    padding-top: 50%;
    font-size: 36px;
    margin: 0;
}

.hero-content p {
    font-size: 18px;
}
/* incex.css */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1c40f;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #b28711;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000; /* Ensure header is above other content */
}
#logo
{
    text-align: justify;
    color: white;
    font-size: 20px;
    padding-left: 5%;
}
#link
{
    text-align: right;
    font-size: 14px;
    color: white;
   word-spacing: 20px;
   padding-right: 5%;
    
}

#contact{
    padding-left: 5%;
    background-color: rgb(116, 116, 116);
    font-size: x-small;
}
#contact h1{
    text-align: center;
}
.row h1{
    text-align: center;
}
.row div p{
    text-align: center;
}
.row div p:hover{
   cursor: pointer;
}
.row h3{
    text-align: center;
}
.row img{
    border-radius: 30%;
}
/* small screens */
@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    #link {
        text-align: left;
        word-spacing: 10px;
        padding-right: 0;
    }

}

/* Responsive Styles for Screens < 600px */
@media screen and (max-width: 600px) {

    header {
        padding: 5px 10px;
    }

    #logo {
        font-size: 16px;
        padding-left: 0;
    }

    #link {
        font-size: 12px;
        word-spacing: 5px;
        padding-right: 0;
    }

}