body{
    zoom: 150%;
    background-image: url(./images/pic1.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-color: rgba(0, 0, 0, 0.7);
     background-blend-mode: darken; 
    /* background-blend-mode: color-burn; */
}
.hero-content h1 {
    padding-top: 50%;
    font-size: 36px;
    margin: 0;
}

.hero-content p {
    font-size: 18px;
}
/* incex.css */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1c40f;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #e1b12c;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000; /* Ensure header is above other content */
}
#logo
{
    text-align: justify;
    color: white;
    font-size: 20px;
    padding-left: 5%;
}
#link
{
    text-align: right;
    font-size: 14px;
    color: white;
   word-spacing: 20px;
   padding-right: 5%;
    
}
span{
    color:white;
    text-decoration: underline;
}

span:hover
{
    text-decoration: underline;
    color: crimson;
}
#waht-we-do
{
    background-color:rgb(95, 132, 128);
}
#contact{
    padding-left: 5%;
    background-color: rgb(116, 116, 116);
    font-size: x-small;
}
#contact h1{
    text-align: center;
}
#waht-we-do h1{
    text-align: center;
}
#waht-we-do p{
    padding: 5%;
    text-align: center;
    font-size: small;
}
.row img{
    border-radius: 30%;
}